group.id=ssl-host
ssl.truststore.location=/etc/kafka/secrets/kafka.consumer.truststore.jks
ssl.truststore.password="${KAFKA_SSL_PASSWORD}"

ssl.keystore.location=/etc/kafka/secrets/kafka.consumer.keystore.jks
ssl.keystore.password="${KAFKA_SSL_PASSWORD}"

ssl.key.password="${KAFKA_SSL_PASSWORD}"
ssl.endpoint.identification.algorithm= 

security.protocol=SSL
